<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learningappwithquizz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningAppWithQuizz">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearningApp"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.learningappwithquizz.LearningApp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Quiz"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.learningappwithquizz.Quiz" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlphaA"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.learningappwithquizz.AlphaA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlphaB"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.learningappwithquizz.AlphaB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlphaC"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.learningappwithquizz.AlphaC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlphaD"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.learningappwithquizz.AlphaD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlphaE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.learningappwithquizz.AlphaE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>